<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>Dashboard</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
 	<!-- CSS Files -->
 	<link rel="stylesheet" type="text/css" th:href="@{/css/material-dashboard.css}">
 	<link rel="stylesheet" type="text/css" th:href="@{/css/material-icons.css}">
 	<script type="text/javascript" th:src="@{/js/custom-style.js}"></script>
</head>
	<div class="wrapper">
	<th:block th:include="admin/sidebar.html">
    </th:block>
		<div class="main-panel">
			<th:block th:include="admin/navbar.html">
		    </th:block>
			<div class="content">
        		<div class="container-fluid">	
            		<div class="row">
           				<div class="col-lg-4 col-md-6 col-sm-6">
              				<div class="card card-stats">
                				<div class="card-header card-header-primary card-header-icon">
                  					<div class="card-icon">
                    					<i class="material-icons">people</i>
                 					</div>
                  					<p class="card-category">Registered Users</p>
                  					<h3 class="card-title">
                    					<!-- ${totalUsers } -->
                    					Total Users
                  					</h3>
                				</div>
                				<div class="card-footer">
                  					<div class="stats">
                    					<i class="material-icons text-danger">add_alert</i>
                    					<a href="#pablo">Keep Going</a>
                  					</div>
                				</div>
              				</div>
            			</div>
            			<div class="col-lg-4 col-md-6 col-sm-6">
              				<div class="card card-stats">
                				<div class="card-header card-header-success card-header-icon">
                  					<div class="card-icon">
                    					<i class="material-icons">card_travel</i>
                 					</div>
                  					<p class="card-category">Posted Destinations</p>
                  					<h3 class="card-title">
                    					<!-- ${totalTravels } -->
                    					Total Travels
                  					</h3>
                				</div>
                				<div class="card-footer">
                  					<div class="stats">
                    					<i class="material-icons text-danger">card_travel</i>
                    					<a href="#pablo">See More</a>
                  					</div>
                				</div>
              				</div>
            			</div>
            			<div class="col-lg-4 col-md-6 col-sm-6">
              				<div class="card card-stats">
                				<div class="card-header card-header-danger card-header-icon">
                  					<div class="card-icon">
                    					<i class="material-icons">content_paste</i>
                 					</div>
                  					<p class="card-category">Published News</p>
                  					<h3 class="card-title">
                    					<!-- ${totalNews } -->
                    					Total News
                  					</h3>
                				</div>
                				<div class="card-footer">
                  					<div class="stats">
                    					<i class="material-icons text-danger">content_paste</i>
                    					<a href="#pablo">See More</a>
                  					</div>
                				</div>
              				</div>
            			</div>
            		</div>
				</div>	
			</div>
		</div>
	</div>
</body>
</html>