.mySlides{
	display: none;
}
.slide_img{
	object-fit: cover;
	height: 400px;
}
.slide_control{
	object-fit: cover;
	height: 100px;
  	opacity: 0.6;

}
.active,.slide_control:hover{
	opacity: 1;
}
div.column {
  float: left;
  width: 16.66%;
  margin: 0;
  padding:0;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;

  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next{
	right: 5%;
  border-radius: 3px 0 0 3px;
}
.caption-container {
  text-align: center;
  background-color: #222;
  padding-top: 10px;
  padding-bottom: 5px;
  color: white;

}
#caption{
	color: white;
}
