<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Tanjungpinang Travel</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<link rel="stylesheet" type= "text/css" href="css/profil.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="overflow-x: hidden;">
	<div class="row">
	<th:block th:include="navbar.html"></th:block>
		<div class="jumbotron col-md-12" style="margin-bottom: 30px;">
			<img src="images/jumbotron_profil.jp2" style="width: 100%;margin-bottom: 10px;">
		</div>
		<div id="welcome-message" style="" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 text-left" style="text-align: justify;">
						<div class="container-fluid">
							<h1 class="text-left">Welcome to Tanjungpinang</h1>
						<br>
						<img src="images/welcome.jpg" alt="" class="img-responsive">
						<br>
						<p class="text-welcome" style="text-align: justify;">Tanjung Pinang, the second largest town after Batam in the Riau Archipelago, today has grown into the capital city of the entire province. Tanjung Pinang sited at the strategic location at the south western coast of the Island of Bintan. This city becomes the entry port to explore the many wonders that Riau Archipelago has offered.</p>
						<p class="text-welcome">Tanjung Pinang is full of diversity with multiple ethnic communities. It successfully attracts migrants from outside though it is not a big town. You can easily find mosques, churches, Hindu temple, and vihara along its main road, where Malay, Bugis, Banjar, Java, and Sumatran live peace in harmony.</p>
						<h1>History</h1>
						<br>
						<p>The name Tanjung Pinang is taken from the position of beach nut tree that juts into the sea. Trees that are in the Cape which is a guide for voyagers who will go to Bintan River. The Tanjung Pinang River is the entrance to Bintan, where the Bentan empire was based in what is now the subdivision of Bukit Batu.
						</p>

						<h3>Early History</h3>
						<p>Tanjung Pinang's history can be traced to the early 3rd century, when it flourished as a trading post on the India &#45; China trade route. Srivijaya, a Sumatra-based empire which nurtured trade with China, came to dominate much of the Malay archipelago from the 7th to 13th centuries. It declined with the rise of piracy in the region, and by the 12th century Bintan Island became known by the Chinese as "Pirate Island".</p>
						<p>According to the Malay Annals, a Srivijaya prince named Seri Teri Buana, fleeing from the sacking of Palembang, stayed on Bintan for several years, gathering his strength before founding the Kingdom of Singapura (Singapore). A century later, it too was sacked by rival powers, and its king founded a new city at Malacca. The Malacca Sultanate (1400 &#45; 1511) became one of the great empires of the region, its territories including the Riau Archipelago. Malacca was captured by the Portuguese in 1511, and the exiled Sultan Mahmud Shah established his capital at Bintan, from which he organized attacks and blockades against the Portuguese. In 1526, after a number of attempts to suppress the Malay forces, the Portuguese razed Bintan to the ground.</p>

						<h3>Johor Sultanate</h3>
						<p>Alauddin Riayat Shah II, a son of Mahmud Shah, established the Johor Sultanate in 1528. Former &#45; Malaccan territories were quickly brought under Johor's influence, including Bintan, where an important trading port called Bandar Riau was opened. As it prospered and a war with Jambi threatened Johor in 1722, the capital was moved to Riau (now Tanjung Pinang) which became a centre of trade and Islamic studies much as Malacca had been.
						</p>
						<p>A conflict with the Dutch, who had taken Malacca from the Portuguese, culminated with a Dutch fleet of 13 vessels besieging and attacking Riau. On 6 January 1784, they were met in battle by Malay and Bugis forces, and repelled with the destruction of the Dutch command ship Malaka's Wal Faren. Malay forces continued to harass the Dutch, and blockaded Malacca, but a defeat and succession crisis shifted power against them. The capital was moved from Riau to Lingga in 1788. The change of capitals has led to the Johor Sultanate sometimes being called the Johor&#45;Riau&#45;Lingga Empire.</p>
						<p>The British gained control of Malacca from the Dutch in 1795. Attempting to increase their influence over the Straight of Malacca, the two powers each crowned a different candidate as Sultan of Johor&#45;Riau during a succession crisis (1812&#45;1818). This led to the partition of Johor&#45;Riau under the Anglo-Dutch Treaty of 1824, which placed the territory south of the straight under Dutch control as the Riau&#45;Lingga Sultanate.</p>

						<h3>Dutch Colony and Independence</h3>
						<p>The Malay were not consulted in these agreements, and relations worsened. On 11 February 1911, the Dutch deposed the sultan for defying the colonial masters, and officially annexed the sultanate which was then administered from Tanjung Pinang as the Riau Residency of the Dutch East Indies. A military base was also constructed at Tanjung Pinang.</p>
						<p>During World War II, the Japanese occupiers made Tanjung Pinang the government centre for the Riau Islands. Control returned to the Dutch following the Japanese surrender, and the Dutch officially withdrew in 1950. Riau became one of the last territories merged into Indonesia, known as the daerah-daerah pulihan (recovered regions). Tanjung Pinang briefly became the capital of Riau Province, until the capital was moved to Pekanbaru in 1960. A law passed in 2001 defined Tanjung Pinang as an autonomous city, and it became the capital of Riau Islands Province.</p>
						</div>
						
					</div>
					<div class="col-md-3 col-md-offset-1" style="border:1px solid #c2c2c2; padding-top: -20px; margin-top: 85px; padding-bottom: 10px;">
						<div style="background-color: #FC9DA0; margin: 0 -15px; margin-bottom: 5px; padding-top: 10px;">
							<h4 class="text-center" style="color: #f5f5f5">Recent News</h4>
							<hr>
						</div>
						<div class="container-fluid">
							<div th:if="${recentNews != null }">
							<div th:each="r_news : ${recentNews }">
							<div class="media">
		  							<div class="media-left media-middle">
		    							<a th:href="@{/news/details(news_id=${r_news.newsId})}">
		      								<img class="media-object" src="uploads/${r_news.thumbnail }" alt="" style="height: 48px;">
		   								</a>
		  							</div>
		  							<div class="media-body">
		    							<a th:href="@{/news/details(news_id=${r_news.newsId})}"> 
											<h4>
												<p th:text="${r_news.title}"></p>
											</h4>
										</a>
										<div th:if="${r_news.contents.length() >= 50}">
											<p th:utext="${r_news.contents.substring(0,50) }">...</p>
										</div>
										<div th:unless="${r_news.contents.length() >= 50}">
				                            <p th:utext="${r_news.contents.substring(0,r_news.contents.length()) }">...</p>
				                        </div>
		  							</div>
								</div>
								<br>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<th:block th:include="footer.html"></th:block>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
	</div>
</body>
</html>