<footer class="copyright col-md-12" style="margin-top:50px; ">
		<div class="container" style="border-bottom: 1px solid #C2C2C2; padding-top: 50px; padding-bottom: 50px;">
			<div class="row">
				<div class="col-md-3">
					<div class="container" style="padding-top: 15px;">
						<img th:src="@{/images/logo.png}" class="img-responsive" style="max-width: 20%;">
					</div>
				</div>
				<div class="col-md-3">
					<div class="container">
						<h6 class="contact">CONTACT US</h6>
						<ul class="contact">
							
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="container">
						<h6 class="contact">MORE IN SITE</h6>
						<ul class="contact">
							<li><a href="">Home</a></li>
							<li><a href="">Profile</a></li>
							<li><a href="">News & Events</a></li>
							<li><a href="">Travels</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="container">
						<h6 class="contact">NEWSLETTER</h6>
					</div>		
				</div>
			</div>
			
			
		</div>
	</footer>
	<section class="copyright col-md-12" style="padding-bottom: 40px; border-top: none;">
		
		<div class="container" style=" text-align: left;color: #C2C2C2;">
				Code with &#x2665; by Rizal Hamdan Arigusti & Agung Ramadhan Putra
		</div>
	</section>