<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Tanjungpinang Travel</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style type="text/css">
	.linkNav{
		font-size: 16px;
	}
</style>

<body style="overflow-x: hidden;">
<div class="row">
	<th:block th:include="navbar.html">
    
    </th:block>
	

	<div class="jumbotron col-md-12" style="margin-top: -160px;">
		<img src="images/jumb2.jpg" style="width: 100%;">
	</div>
	
	<section class="col-md-12 section" id="wonders" style="margin-left: 40px; ">
		<div class="container" style="padding-top: 30px;">
			<h2 class="text-left">Wonders & Inspires</h2>
			<div class="row thumbnails" style="margin-top: 20px; padding-left: 5px;">
					<div class="col-md-3 col-xs-12 col-sm-12 thumbnail">
						<a href="/travels?category=2">
							<img src="images/mangrove.jpg" style="border-radius: 10px; object-fit: cover; width: 250px; height: 300px; box-shadow: inset 0px -10px 20px #000;">
							<div class="overlay" style="z-index: 0">
								
							</div>
							<h4 class="text-center centered-wonders" style="color: white; text-shadow: 0px 0px 30px black;">Natures</h4>	
							
						</a>	
					</div>
					<div class="col-md-3 col-xs-12 col-sm-12 thumbnail">
						<a href="/travels?category=4">
							<img src="images/masjid_penyengat.jpg" style="border-radius: 10px;object-fit: cover; width: 250px; height: 300px;">
							<div class="overlay">
								
							</div>
							<h4 class="text-center centered-wonders" style="color: white; text-shadow: 0px 0px 30px black;">History</h4>
						</a>
						
					</div>
					<div class="col-md-3 col-xs-12 col-sm-12 thumbnail">
						<a href="/travels?category=5">
							<img src="images/zapin3.jpg" style="border-radius: 10px;object-fit: cover; width: 250px; height: 300px;">
							<div class="overlay">
								
							</div>
							<h4 class="text-center centered-wonders" style="color: white; text-shadow: 0px 0px 30px black;">Cultural</h4>
						</a>
					</div>
					<div class="col-md-3 col-xs-12 col-sm-12 thumbnail">
						<a href="/travels?category=3">
							<img src="images/tcc.jpg" style="border-radius: 10px;object-fit: cover; width: 250px; height: 300px; ">
							<div class="overlay"></div>
							<h4 class="text-center centered-wonders" style="color: white; text-shadow: 0px 0px 30px black; ">Shopping</h4>
						</a>		
					</div>
			</div>
		</div>
	</section>
	<section class="col-md-12 section" id="news_events" style="margin-left: 40px;">
		<div class="container">
			<h2 class="text-left">News & Events</h2>
			<div th:each="news : ${currentNews}" class="row thumbnails" style="margin-top: 20px; padding-left: 5px;">
					<div class="col-md-3 col-sm-6 col-xs-4 thumbnail">
						<img th:src="@{uploads/} + ${news.thumbnail}" class="img-responsive image-news-wonders-2">
						<a th:href="@{/news/details(news_id=${news.newsId})}">
							<h4>
								<p th:text="${news.title}"></p>
							</h4>
							
						</a>
						<div th:if="${news.getContents().length() >= 100}">
							<p th:text="${news.getContents().substring(0,100) }">...</p>
                        </div>
                        <div th:unless="${news.getContents().length() >= 100}">
                            <p th:text="${news.getContents().substring(0,news.contents.length()) }">...</p>
                        </div>
		
					</div>
			</div>
			<div class="row">
					<div class="col-md-12 text-left" style="padding-top: 20px; color: #F7ADAD">
						<a href="/news" style="font-weight: bold;">MORE NEWS & EVENTS <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></a> </span>
					</div>
				</div>
			
		</div>
	</section>
	<th:block th:include="footer.html">
    
    </th:block>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</div>
	
	
</body>
</html>