<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>News</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<link rel="stylesheet" type= "text/css" href="css/profil.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="overflow-x: hidden;">
	<div class="row">
		<th:block th:include="navbar.html"></th:block>
		<div class="jumbotron col-md-12">
			<img src="images/dragon.jpg" style="width: 100%; height: 600px; object-fit: cover;">
		</div>
		<br/>
		<br/>
		
		<div class="section" style="margin-top: 50px;">
			<div class="container">
				<h3 class="text-left" style="margin-top: 50px !important;">News & Events</h3>
				<hr style="margin-bottom: 50px;">
				<div class="row row-news">
					<div th:each="news : ${allNews}" class="col-md-3 news-thumb">
						<!-- <img src="uploads/${news.getThumbnail() }" class="img-responsive image-news-wonders-2">
						<a href="<%= Config.getBase_url()%>detailPost?id_news=${news.getNews_id()}"> -->
						<a href="">
							<h4>
								<p th:text="${news.title}"></p>
							</h4>
						</a>
						<div th:if="${news.contents.length() >= 100}">
							<p th:text="${news.contents.substring(0,100) }">...</p>
						</div>
						<div th:unless="${news.contents.length() >= 100}">
                            <p th:text="${news.contents.substring(0,news.contents.length()) }">...</p>
                        </div>
					</div>
				</div>
			</div>
		</div>
		<th:block th:include="footer.html"></th:block>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>